
* { box-sizing: border-box; }

html, body {
    height: 100%;
}

body {
	margin: 0;
	width: 100%;
	min-width: 980px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #333;
  background-color: #fff;
}
.clearfix::after { 
 	content: "";
  display: block;
  clear: both; 
}
.wrapper {
	height: 100%;
}
/*========HEADER ========== */

.container {
	margin: 0 auto;
	width: 960px;
}

.header__top {
	padding: 15px 0;
	border-bottom: 1px solid #cccccc;
}

.header__logo {
	float: left;
	width: 220px;
	height: 38px;
}

.logo {
	width: 220px;
	height: 38px;
}

.profile {
	float: right;
	width: 452px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.profile__item {
	display: inline-block;
	margin-right: 20px; 
}
.profile__item:last-child {
	margin-right: 0; 
}

.profile__img {
	float: left;
	width: 34px; 
	height: 34px;
	text-decoration: none;
	background-color: #dadada; 
	border-radius: 50%; 
}

.profile__info {
	padding-left: 50px;
}

.profile__name,
.profile__time {
	white-space: nowrap;
	text-align: left;
}

.profile__time {
	font-size: 13px;
	font-weight: 300;
}

.icon {
	position: relative;
  display: inline-block;
  width: 26px;
  height: 24px;
  text-decoration: none;
  text-indent: -9999px;
  background-position: center center;
  background-repeat: no-repeat;
	background-image: url("../img/sprite.png");
	background-repeat: no-repeat;
	overflow: hidden;
}

.icon__alerts {
	background-position: 2px 1px;
}

.icon__message {
	background-position: -45px 2px;
}

.icon__setting {
	background-position: -89px -1px;
}

.icon__logout {
	background-position: -134px 0px;
}

.icon__bage {
	position: absolute;
	top: 0px; 
	right: 0px; 
	width: 12px;
	height: 12px;
	color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  text-indent: 0;
  line-height: 12px;
	background-color:  #ff006c;
	border-radius: 50%;
}

.header__bottom {
	padding: 30px 0;
	text-align: center;
}

.menu {
  padding:0;
  margin: 0;
  font-family: 'Roboto Condensed';
  list-style: none;
  text-align: center;
}

.menu__item {
  display: inline-block;
  padding-left: 23px;
  margin-right: 20px;
}

.menu__item:last-child {
  margin-right:0;
}
.menu__link {
	position: relative;
	text-decoration: none;
	color: #36454d;
}
.menu__link__icon {
  position: absolute; 
	top: 0; 
	left: -24px; 
	z-index: 999; 
	display: inline-block; 
	height: 18px;
	width: 18px; 
	font-size: 12px; 
	font-weight: 700; 
	text-align: center; 
	color: #fff; 
	background-image: url(../img/menuicon3.png);
	background-position: 7px 4px;;
	background-size: 130%;
	background-repeat: no-repeat;
	border-radius: 50%; 
}

.menu__link__icon:hover{
	background-position: -8px 5px; 
}

.menu__link__icon_active {
	background-position: -8px 5px; 
}

.menu__link__icon_blue {	
	background-color: #0099cf; 
}

.menu__link__icon_pink {
	background-color: #ff006c;
}

.menu__link__icon_purple {
	background-color: #954496;
}

.menu__link__icon_dark-pink {
	background-color: #cd307f;
}

.panel {
	display: inline-block;
	position: relative;
	height: 55px;
	width: 100%;
	padding: 18px 0;
	margin-bottom: 18px;
	text-align: center;
	color: #fff;
	vertical-align: middle;
	background-color: #0099cf;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 24px;	
}

.panel::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: #0099cf transparent transparent transparent;
}



/*======== MAIN CONTENT ========== */

.main-content {
/*	margin-right: -20px;
	box-sizing: border-box;*/
}

.box {
	position: relative;
	z-index: 999;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;
  color: #fff;
  overflow: hidden;
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: inset 0 -126px 138px -59px rgba(17, 17, 0, 0.73);
}

.box-xl {
	width: 460px;
	height: 450px;
	

}
.box-md {
	width: 460px;
	height: 215px;
	
}
.box-sm {
	width: 220px;
	height: 215px;
	font-size: 12px;
	
}
/*чтобы исчезал задний блок*/
.box:hover .box__description {
	display: none;
}
.box__description {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.box__description__lg {
	padding: 25px;

}
.box__description__sm{
  padding: 15px 14px;
  font-size: 12px;
}



.block-info{
	position: relative;
}

.box-img-text {

}

.price-text {
	
}
.percent-text__lg {
  font-size: 47px;

}
.percent-text__sm {
	font-size: 30px;
}

.item-date {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	padding: 13px;
	font-weight: 200;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	background-color: #0099cf;
}

.number-date {
	font-style: normal;
	font-size: 27px;
	font-weight: 200;
}

.item-description {
	display: inline-block;
	margin-right: 10px; 
}
.item-description:last-child {
	margin-right: 0; 
}
.img-box {
	background-size: cover;
}

.big-pig {
	width: 52px;
	height: 50px;
	background-image: url(../img/spr2.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.small-pig {
	background-image: url(../img/spr2.png);
	background-repeat: no-repeat;
	min-width: 32px;
  height: 30px;
}


.img-credit {
	width: 30px;
  height: 21px;
	background-image: url(../img/spr1.png);
	background-repeat: no-repeat;
}

.img-goods {

	width: 39px;
	height: 49px;
	background-image: url(../img/spr3.png);
	background-repeat: no-repeat;
}

.img-percent {
	width: 35px;
  height: 35px;
	background-image: url(../img/spr4.png);
	background-repeat: no-repeat;
}

/*==== BLOCKS MASK ====*/

.mask {
	position: relative;
	z-index: 1;
	top:0;
	left:0;
	bottom:0;
	right:0;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-weight: 300;
	opacity: 0;
}

.mask:hover {
 	opacity: 1;
}

/* Цвет маски */

.mask__pink {
 	background-color:  rgba(206, 49, 127, 0.8); 
}

.mask__purple {
 	background-color:  rgba(149, 67, 150, 0.8);
}

.mask__blue {
	background-color:  rgba(0, 152, 207, 0.8);
}

.mask__hot-pink {
	background-color:  rgba(255, 0, 108, 0.8);
}

/* сстили для разных блоков */

.mask__sm {
	position: relative; /**/
	padding: 16px 24px;
	font-size: 13px;/**/
}

.mask__md {
	padding: 18px 28px;
	font-size: 14px;
}

.mask__lg {
	position: absolute;
  padding: 61px 0 0 28px;
  font-size: 17px;
  
}

/* текст для разных размеров блоков */

.mask__text {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	font-weight: 300;
	line-height: 1.3;
}

.mask__text__sm {
	margin: 0 0 13px 0;	
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	color:  #ffffff;
	text-align: left;
}

.mask__text__md {
	margin-bottom: 9px;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	color:  #ffffff;
}

.mask__text__lg {
	margin-bottom: 28px;
	line-height: 1.2;
}

.mask__simple-text {
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
  line-height: 1.8;
}


/* стили для списков*/

.mask__list {
	display: block;
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	padding-left: 19px;

}

.mask__list__sm {
	display: block;
	margin: 0;
	margin-bottom: 12px;
	padding: 0;
}

.mask__list__md {
	display: block;
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	line-height: 1.6;
	color:  #ffffff;
}

.mask__list__lg {
	display: block;
	margin: 0;
	margin-bottom: 37px;
	padding: 0;
	font-family: Roboto;
	text-align: left;
	line-height: 1.6;
	color:  #ffffff;
}

/*Стили для пунктов*/

.mask__item {
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
.mask__item::before {
	content: "";
	display: inline-block;
	width: 8px;
	height: 8px;
	padding: 0;
  margin-right: 7px;
	border-radius: 50%;
	background-color:  #ffffff;

	
}

.mask__item:last-child {
	margin-bottom: 0;
}

.mask__item__sm {
	margin-bottom: 6px;
	font-family: 'Roboto';
	text-align: left;
  color:  #ffffff;  
}

.mask__item__md {
	
}

.mask__item__lg {
	
}

/*Стиль для Даты в маске */

.mask__date {
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	padding: 13px;
	font-weight: 200;
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
	color: rgba(206, 49, 127, 0.8);
	background-color: #ffffff;
}

/*Социальные кнопки*/

.social {
  margin-top: 10px;
  font-size: 0;
}

.social-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  color: #ffffff;
  background-image: url(../img/socials.png);
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-right: transparent;
}

.social-btn:last-child {
	border-right: 2px solid #ffffff;
}

.social-btn-fb {
	background-position: 13px 8px;
}

.social-btn-vk {
  background-position: -24px 8px;
}

.social-btn-od{
	background-position: -63px 8px;
}

.social-btn-tw {
  background-position: -102px 8px;
}

.btn__share:hover {
	opacity: 1;

}

.btn__share {
	position: absolute;
  bottom: 40px;
  left: 23px;
  z-index: 9999;
	width: 180px;
  height: 50px;
  padding: 0;
  margin: 0;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  background-image: url(../img/soc.png);
  background-repeat: no-repeat;
  background-position: 9px;
  background-size: 13%;
  opacity: 0; 
}

/* Кнопки */

.btn {
    position: absolute;
    display: inline-block;
    padding: 13px 24px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    background-color: #ffffff;
    border-radius: 2px;
    white-space: nowrap;
}

.btn__sm {
	width: 163px;
  height: 40px;
}

.btn__md {
	width: 178px;
	height: 40px;
}

.btn__lg {
	width: 183px;
	height: 40px;
	padding: 10px 15px;
}

.btn__pink {
	color: #ce317f; 
}

.btn__light-pink {
	color: rgba(206, 49, 127, 0.8); 
}

.btn__blue{
	color: #0099cf;
}

.btn__purple{
	color: #954396;
}



